#login-header {
  height: 10vh; }

#login-content {
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) 3.07%, rgba(6, 37, 65, 0.3) 88.06%);
  margin-top: 1.5rem;
  padding: 3rem; }

#login .container {
  margin: 0;
  width: 100%; }

#login .error {
  font-size: 14px;
  padding-left: 1rem;
  width: 100%;
  color: red; }

#login .login-elements {
  display: flex;
  justify-content: space-between; }

#login .title-text {
  font-size: 3rem;
  padding: 2rem;
  padding-left: 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; }

#login .login-pic {
  overflow: hidden; }

#login .myForm {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #161b21;
  padding: 2rem;
  height: fit-content;
  width: fit-content;
  border-radius: 10px; }
  #login .myForm .field {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    #login .myForm .field label {
      width: 35%;
      padding-right: 1rem; }
      #login .myForm .field label span {
        color: #ff1717; }
    #login .myForm .field input,
    #login .myForm .field select {
      width: 60%; }
    #login .myForm .field select {
      padding: 1rem;
      margin: 1rem 0; }
  #login .myForm input {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin-top: 1rem;
    border: none; }
    #login .myForm input:focus {
      background-color: white;
      border: none; }
  #login .myForm .btn {
    margin: 2rem;
    margin-left: 0;
    background-color: #0d0c30;
    color: #fff;
    cursor: pointer;
    width: 50%;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0rem; }
  #login .myForm .terms-checkbox input {
    width: 20%; }
  #login .myForm .terms-checkbox label {
    width: 80%; }
